---
layout: default
---

<header id="page-header" style="background:#eee url(/img/0005-b.jpg) no-repeat center center; background-size:cover;" class="header-full-bleed row">
   <div class="h1 full-bleed-title">Michael Gyarmathy</div>
   <br/>
   <div class="h2 full-bleed-subtitle">
      <i class="fa fa-angle-double-right"></i> Student at Texas A&amp;M University<br/>
      <i class="fa fa-angle-double-right"></i> Freelance Web Developer<br/>
      <i class="fa fa-angle-double-right"></i> Aspiring Writer<br/><br/>
      <p class="meta">Connect with me via</p>
      <a class="link-hover-blue bold" href="https://github.com/mgyarmathy">GitHub </a>|
      <a class="link-hover-blue bold" href="https://twitter.com/mgyarmathy_"> Twitter </a>|
      <a class="link-hover-blue bold" href="mailto:michael@gyarmathy.me">Email</a>
   </div>
   <br/>
   <div class="header-scroll">
      <i class="fa fa-angle-double-down fa-4x pulse"></i>
   </div>
</header>
<section id="about">
   <div class="single-column mt-2">
      <!--<div class="h1">About</div>-->
      <div style="text-align:center;">
         <img style="width:33%;" src="/img/michael.png"/>
      </div>
      <!-- <div data-fht>Howdy, my name is</div>
      <div data-fht>Michael Gyarmathy</div>
      <div data-fht>I'm a Senior Computer Science major at</div>
      <div data-fht>Texas A&amp;M University</div>
      <div data-fht>I have a passion for</div>
      <div data-fht>User Experience</div>
      <div data-fht>and Web Development</div>
      <div data-fht>I'm also a big fan of</div>
      <div data-fht>photography,</div>
      <div data-fht>distance running,</div>
      <div data-fht>and breakfast for dinner.</div> -->
      <p>
         Howdy, my name is Michael Gyarmathy. I'm a Senior Computer Science major at Texas A&amp;M University. I have a passion for User Experience and Web Development. I'm also a big fan of photography, writing, music, distance running, and breakfast for dinner.
      </p>
   </div>
</section>
<section id="recent-work">
   <div class="double-column">
      <!--<div class="h1" style="margin-left:-8px;">Recent Work</div>-->
      <div class="column">
         <div class="h2">Projects</div>
         <div class="projects-list">
            {% for post in site.categories.projects limit:3 %}
              {% if post.header_img %}
               <a href="{{post.url}}">
               <header style="background:#eee url({{post.header_img}}) no-repeat center center; background-size: cover; margin-bottom:2em; max-height:150px;" class="header-full-bleed small row">
                 <div class="h4 full-bleed-title" style="top:5%; max-width: 80%;">{{post.title}}</div>
               </header>
               </a>
              {% endif %}
            {% endfor %}
         </div>
         <div style="text-align:right;">
            <a class="highlight" href="/projects">All Projects <i class="fa fa-angle-double-right highlight"></i></a>
         </div>
      </div>
      <div class="column">
         <div class="h2">Articles</div>
         <div class="articles-list">
            {% for post in site.categories.articles limit:3 %}
              {% if post.header_img %}
               <a href="{{post.url}}">
               <header style="background:#eee url({{post.header_img}}) no-repeat center center; background-size: cover; margin-bottom:2em; max-height:150px;" class="header-full-bleed small row">
                 <div class="h4 full-bleed-title" style="top:5%; max-width: 80%;">{{post.title}}</div>
               </header>
               </a>
              {% endif %}
            {% endfor %}
         </div>
         <div style="text-align:right;">
            <a class="highlight" href="/articles">All Articles <i class="fa fa-angle-double-right highlight"></i></a>
         </div>
      </div>
   </div>
</section>

<!-- <script type="text/javascript" src="js/fitter-happier-text.js"></script> -->
<script>
  // var nodes = document.querySelectorAll('[data-fht]');
  // fitterHappierText(nodes, {paddingY: 2.75});

   $('#page-header').css('min-height',window.innerHeight + 'px');

   $(document).ready(function() {
      if (window.innerHeight < $('#page-header').height()) {
         $('.header-scroll').hide();
      }

      $('.header-scroll').click(function() {
         $('html, body').animate({
             scrollTop: $('#about').offset().top
         }, 1250);
       return false;
      });



      $(window).scroll(function() {
        var s = $(window).scrollTop();
        //$('#page-header .full-bleed-title').css('opacity', (100-(s/8))/100);
        //$('#page-header .full-bleed-subtitle').css('opacity', (100-(s/8))/100);
      });
   });
</script>