---
layout: default
---

<section id="about" class="container">
  <div class="row">
    <div class="seven offset-by-negative-one columns rt">
      <img class="mt-0 bio-img" src="/img/family_home.jpg">
    </div>
    <div class="six columns mt-2 mt-0-mobile">
      <div class="bio">
        <p>
          Howdy, I'm <strong>Michael</strong>.
        </p>
        <p>
            I'm an <strong>Full Stack Software Engineer</strong> at <a href="https://www.pga.com/">PGA of America</a> in Frisco, TX.
        </p>
        <p>
          Apart from that, I really enjoy live music, distance running, and breakfast for dinner.
        </p>
        <p>Let's get in touch:
          <br/>
          <a href="https://twitter.com/mgyarmathy_">Twitter</a>
          <span class="pre"> | </span>
          <a href="mailto:mgyarmathy2011@gmail.com">Email</a>
          <span class="pre"> | </span>
          <a href="https://github.com/mgyarmathy">GitHub</a>
        </p>
      </div>
    </div>
  </div>
  <hr/>
</section>
<section id="recent-work" class="container">
  <div class="row cf">
    <div class="one-half column">
      <div class="h2">Articles</div>
      <div class="articles-list">
      {% for post in site.categories.articles limit:3 %}
        {% if post.header_img %}
        <a href="{{post.url}}">
          <div style="background-image: url({{post.header_img}})" class="post-thumbnail">
            <div class="post-thumbnail--title" >{{post.title}}</div>
          </div>
        </a>
        {% endif %}
      {% endfor %}
      </div>
      <div class="rt">
        <a href="/articles">All Articles <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>
    <div class="one-half column">
      <div class="h2">Photographs</div>
      <div class="photographs-list">
        {% for post in site.categories.photographs limit:3 %}
        {% if post.header_img %}
        <a href="{{post.url}}">
          <div style="background-image: url({{post.header_img}})" class="post-thumbnail">
            <div class="post-thumbnail--title" >{{post.title}}</div>
          </div>
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="rt">
        <a href="/photographs">All Photographs <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>
    <!-- <div class="one-half column">
      <div class="h2">Projects</div>
      <div class="projects-list">
      {% for post in site.categories.projects limit:3 %}
        {% if post.header_img %}
        <a href="{{post.url}}">
          <div style="background-image: url({{post.header_img}});" class="post-thumbnail">
            <div class="post-thumbnail--title">{{post.title}}</div>
          </div>
        </a>
        {% endif %}
      {% endfor %}
      </div>
      <div style="text-align:right;">
        <a class="no-border" href="/projects">All Projects <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div> -->
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    $('.site-nav').addClass('animated fadeInDown');
  })
</script>
