---
layout: default
title: "Projects"
---


<section class="single-column wide">
   <h1>Projects</h1>
   <div class="projects-list">
   {% for post in site.categories.projects %}
      {% if post.header_img %}
      <a href="{{post.url}}">
      <header style="background:#eee url({{post.header_img}}) no-repeat center center; background-size: cover; margin-bottom:2em;" class="header-full-bleed small row">
         <div class="h2 full-bleed-title">{{post.title}}</div>
         <div class="full-bleed-subtitle">
            <p><time datetime="{{post.date}}">{{post.date | date: "%B %d, %Y"}}</time></p>
         </div>
      </header>
      </a>
      {% endif %}
   {% endfor %}
   </div>
</section>
