/* ==========================================================================
   GRID
   ========================================================================== */

/* Media Query mixin
========================================================================== */

@mixin breakpoint($viewport-width) {
  @if $viewport-width == one-hand {
    @media screen and (min-width:100px) and (max-width: 479px) {
      @content;
    }
  }
}

/* Single and responsive column
   ========================================================================== */

.single-column {
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  max-width: 768px!important;

  @include breakpoint(one-hand){
    width: 100%;
  }

  &.wide {
    max-width: 900px!important;
  }
}

.double-column {
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  max-width: 768px!important;

  .column {
    vertical-align: top;
    margin:0;
    padding: 0;
    width: 45%;
    display: inline-block;
    max-width: (768px/2) !important;

    &:nth-of-type(2) {
      float: right;
    }
    @include breakpoint(one-hand){
        width: 100%;
        padding: 0;
        float: none !important;
    }
  }

  &.wide {
    max-width: 900px!important;

    .column {
      max-width:(900px/2)!important;
    }
  }
}
