a {
  text-decoration:none;
}

.link-hover-blue {
   &:hover,
   &:focus {
      color:$blue-dark;
      .meta {color:$blue-dark;}
   }
   &:active {
      color:$blue-medium;
   }
}

.highlight {
   color:$blue-dark;
}
