a {
  text-decoration:none;
}

.link-hover-blue {
   &:hover,
   &:focus {
      color:$blue-dark;
      .meta {color:$blue-dark;}
   }
   &:active {
      color:$blue-medium;
   }
}

.highlight {
   color:$blue-dark;
}

.post a {
    font-weight: 600;
    border-bottom: 0.15em solid $black;

    &:hover {
        color: $blue-dark;
        border-bottom-color: $blue-dark;
    }
}
