.site-nav {
  padding: 0;
  text-align:right;

  @include breakpoint(one-hand) {
    text-align: center;
  }
}

.site-nav--list {
  margin: 3px 0;
}

.site-nav--item {
  display:inline-block;
  font-size:$type-5;
  &:last-child {
    border-right: none;
    @include breakpoint(one-hand) {
      .site-nav--link {
        padding-right: 0;
      }
    }
  }
}

.site-nav--link {
  font-weight:400;
  letter-spacing: 2px;
  color:$grey-medium;
  display:block;
  padding-right:1em;
  text-decoration: none;
  text-transform: uppercase;

  @extend .link-hover-blue;
}
