* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::selection {
  background: $grey-light; /* Safari */
  }
::-moz-selection {
  background: $grey-light; /* Firefox */
}

.header-full-bleed {
  margin:0;
  background-size:cover;

  .full-bleed-title {
    position: relative;
    top: 15%;
    left: 5%;
    background: #fff;
    padding: 1.5% 1.5%;
    max-width: 65%;
    line-height: 95%;
    text-transform: uppercase;
    letter-spacing: 7px;
  }

  .full-bleed-subtitle {
    position: relative;
    padding: 1.5% 2%;
    top: 20%;
    left: 5%;
    max-width: 35%;
    background: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size:$type-4;
    letter-spacing: 3px;

    p { margin: 0.25em 0; }
  }

  @include breakpoint(one-hand) {
    .full-bleed-title {
      font-size:$type-3;
      min-width: 90%;
      padding: 3.5% 3.5%;
      top: 12%;
    }

    .full-bleed-subtitle {
      padding: 3.5% 3.5%;
      max-width: 90%;
      top: 17%;

      p {
        margin: 0;
        font-size: $type-4 - 2px;
      }
    }
  }
}

.post hr {
  width: 30%;
  margin: 3em auto;
}
