* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.header-full-bleed {
  margin:0;
  background-size:cover;

  .full-bleed-title {
    display: inline-block;
    background: #fff;
    padding: 1.5% 2%;
    margin: 0 2% 5% 5%;
    max-width: 65%;
    line-height: 95%;
    text-transform: uppercase;
    letter-spacing: 7px;
  }

  .full-bleed-subtitle {
    display: inline-block;
    padding: 0 2% 0;
    margin: 0 5% 5% 5%;
    max-width: 80%;
    background: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size:$type-4;
    letter-spacing: 3px;
  }

  @include breakpoint(one-hand) {
    .full-bleed-title {
      font-size:$type-3;
      min-width: 90%;
      padding: 1.5% 3.5%;
    }

    .full-bleed-subtitle {
      padding: 0 3.5%;
    }
  }
}

.post hr {
  width: 30%;
  margin: 3em auto;
}
