/*
$primary-color:;
$secondary-color:;
$tertiary-color:;

$padding:;
$margin:;

*/

$type-1:108px;
$type-2:64px;
$type-3:32px;
$type-4:24px;
$type-5:16px;
$type-6:14px;

$type-quote:$type-3;
$copy:$type-4;

$copy-line-height:1.5;
