---
layout: default
title: "Photographs"
---

<section class="container">
  <div class="row">
    <div class="ten offset-by-one columns">
      <h1>Photographs</h1>
    </div>
    {% for post in site.categories.photographs %}
    <div class="ten offset-by-one columns">
      {% if post.header_img %}
      <a href="{{post.url}}">
        <div style="background-image: url({{post.header_img}});" class="post-thumbnail">
          <div class="post-thumbnail--title">{{post.title}}</div>
        </div>
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
