---
layout: default
title: "Photographs"
---

<section class="container">
  <h1>Photographs</h1>
  <div class="row">
    {% for post in site.categories.photographs %}
    <div class="twelve columns">
      {% if post.header_img %}
      <a href="{{post.url}}">
        <div style="background-image: url({{post.header_img}});" class="post-thumbnail">
          <div class="post-thumbnail--title">{{post.title}}</div>
          <div class="full-bleed-subtitle">
            <p><time datetime="{{post.date}}">{{post.date | date: "%B %d, %Y"}}</time></p>
          </div>
        </div>
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
