{% include _head.html %}
<body ontouchstart="">
  {% include _navigation.html %}
  <header style="background:#eee url({{page.header_img}}) no-repeat center center; background-size:cover;" class="header-full-bleed row">
      <div class="h1 full-bleed-title">{{page.title}}</div>
      <br/>
      {% if page.author %}
      <div class="full-bleed-subtitle">
        <p><time datetime="{{page.date}}">{{page.date | date: "%B %d, %Y"}}</time></p>
        <p>By: {{page.author}}</p>
      </div>
      {% endif %}
    </header>
    <div class="single-column">
  <article class="mt-2 post">
    <!-- This is where post content lives -->
      {{content}}
    <!-- end of post content -->
    <footer class="mt-2">
      {% if page.author %}
      <p class="meta author">
      <time  class="meta" datetime="{{page.date}}">{{page.date | date: "%B %d, %Y"}}</time><br />
      By: <a href="" rel="author">{{page.author}}</a></p>
      {% endif %}
    </footer>
  </article>
  <div id="disqus_thread" class="mt-4"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'mgyarmathy';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  {% include _related_posts.html %}
  {% include _footer.html %}
  {% include _google_analytics.html %}
  <script>
    $('.header-full-bleed').css('height', Math.max(800,window.innerHeight) + 'px');

    window.onresize = function () {
        first.style.height = Math.max(800,window.innerHeight) + 'px';
    };
  </script>
</body>
</html>